radamsa/with_asan/created_bmps/test1.dot/*
radamsa/with_asan/created_bmps/test2.dot/*
radamsa/with_asan/created_bmps/test3.dot/*
radamsa/with_asan/created_bmps/test4.dot/*
radamsa/with_asan/created_bmps/test5.dot/*

radamsa/without_asan/created_bmps/test1.dot/*
radamsa/without_asan/created_bmps/test2.dot/*
radamsa/without_asan/created_bmps/test3.dot/*
radamsa/without_asan/created_bmps/test4.dot/*
radamsa/without_asan/created_bmps/test5.dot/*
